@model Infraestructure.Models.Inventario

@{
    ViewBag.Title = "Registro Movimiento";
}
<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
    <div class="col-lg-3" style="background: #1d2554;">
        @Html.Partial("_MenuMantenimiento")
    </div>
    <div class="col-xl-9">
        <div class="container">
            <hr>
            <h1>Ingresar Producto a Inventario <span class="badge bg-info">@Html.DisplayFor(model => model.IdInventario)</span></h1>
            <hr>
            <div class="row">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h5 class="text-primary m-0 fw-bold">Registro de ingreso de producto</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="col">
                                    <div class="row">
                                        @Html.DisplayName("Usuario");
                                    </div>
                                    <div class="row">
                                        @Html.DropDownList("seleccionUsuario",
                                        (SelectList)ViewBag.listaSeleccionColor,
                                        "Seleccione usuario",
                                        new { htmlAttributes = new { @class = "form-control" }, multiple = "multiple" })  
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        @Html.DisplayName("Fecha");
                                    </div>
                                    <div class="row">

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        @Html.DisplayName("Motivo");
                                    </div>
                                    <div class="row">
                                        @Html.CheckBoxFor();
                                    </div>
                                </div>
                            </div>
                            <div class="col">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


