@model Infraestructure.Models.Inventario

@{
    ViewBag.Title = "Registro Movimiento";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
    <div class="col-lg-3" style="background: #1d2554;">
        @Html.Partial("_MenuMantenimiento")
    </div>
    <div class="col-xl-9">
        <div class="container">
            <hr>
            <h1>Ingresar Productos a Inventario <span class="badge bg-info">@Html.DisplayFor(model => model.IdInventario)</span></h1>
            <hr>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5 class="text-primary m-0 fw-bold">Registro Movimiento /  <span class="badge bg-success">Entrada</span></h5>
                </div>
                <div class="card-body">



                    @using (Html.BeginForm("InventoryEntryConfirm", "RegistroMovimiento", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return validateForm()" }))
                    {
                        <input type="text" name="idInventario" value="@Html.DisplayFor(model => model.IdInventario)" style="display: none" />
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    @Html.DisplayName("Usuario")
                                </div>
                                <div class="row">
                                    @Html.DropDownList("idUsuario",
                                            (SelectList)ViewBag.listaSeleccionUsuarios,
                                            "Seleccione un usuario",
                                            htmlAttributes: new { @class = "form-control", required = "required" })
                                </div>
                                <div class="row">
                                    @Html.DisplayName("Motivo")
                                </div>
                                <div class="row">
                                    @Html.DropDownList("idMotivoMovimiento",
                                            (SelectList)ViewBag.listaSeleccionMotivo,
                                            "Seleccione un motivo",
                                            htmlAttributes: new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div style="padding:0px;margin:0px;width:20px;">
                            </div>
                            <div class="col">
                                <div class="row">
                                    @Html.DisplayName("Fecha")
                                </div>
                                <div class="row">
                                    <input type='text' name="fechaHora" class="form-control" id='datetimepicker1' value="2018-07-22"
                                           min="2018-01-01" max="2018-12-31" required />
                                </div>
                                <div class="row">
                                    @Html.DisplayName("Comentario")
                                </div>
                                <div class="row">
                                    <input type="text" name="comentario" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="card">
                                    <div class="card-header py-3">
                                        <h5 class="text-primary m-0 fw-bold">
                                            Productos
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="fa-2x text-gray-300" style="font-size: 26px;">
                                                <path d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z" fill="currentColor"></path>
                                            </svg>
                                        </h5>
                                        <hr />
                                        <input type="text" id="busquedaTableProductos" onkeyup="searchTable('tableProductos','busquedaTableProductos')" placeholder="Busqueda por ID, Nombre o Costo">
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">

                                            <table id="tableProductos" class="table">
                                                <tr id="tableProductosHeader">
                                                    <th></th>
                                                    <th>
                                                        @Html.DisplayName("ID")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Nombre")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Costo")
                                                    </th>
                                                </tr>

                                                @foreach (var item in (List<Infraestructure.Models.Producto>)ViewBag.listaProductos)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" name="check-tableProductos">
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.IdProducto)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Nombre)
                                                        </td>
                                                        <td>
                                                            ¢@Html.DisplayFor(modelItem => item.CostoU)
                                                        </td>
                                                    </tr>
                                                }

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: 150px;">
                                <button class="btn boton-estilo" onclick="addProduct();" style="display:block">>>></button>
                                <button class="btn boton-estilo" onclick="removeProduct()" ; style="display:block"><<<</button>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-header py-3">
                                        <h5 class="text-primary m-0 fw-bold">
                                            Inventarios
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" class="bi bi-bookshelf" style="font-size: 20px;">
                                                <path fill-rule="evenodd" d="M2.5 0a.5.5 0 0 1 .5.5V2h10V.5a.5.5 0 0 1 1 0v15a.5.5 0 0 1-1 0V15H3v.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zM3 14h10v-3H3v3zm0-4h10V7H3v3zm0-4h10V3H3v3z"></path>
                                            </svg>
                                        </h5>
                                        <hr />
                                        <input type="text" id="busquedaTablaInventario" onkeyup="searchTable('tableInventario','busquedaTablaInventario')" placeholder="Busqueda por ID, Nombre o Costo">
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">

                                            <table id="tableInventario" class="table">
                                                <tr id="tableInventarioHeader">
                                                    <th></th>
                                                    <th>
                                                        @Html.DisplayName("ID")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Nombre")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Costo")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Stock Minimo")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Stock")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Estante")
                                                    </th>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <input type="submit" value="Registrar Movimiento" class="btn btn-lg boton-estilo" style="float:right;" />
                    }
                </div>
            </div>
            <div>
                @Html.ActionLink("Regresar a lista", "Index", null, new { @class = "btn  boton-estilo" })
            </div>
        </div>
    </div>
</div>
<div style="display:none">
    <p><input type="button" id="bt" value="Mostrar Datos de la tabla Inventario" onclick="showTableData()" /></p>
    <p id="info"></p>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
        function addProduct() {
            var tableProductos = document.getElementById("tableProductos"),
                tableInventario = document.getElementById("tableInventario"),
                checkboxes = document.getElementsByName("check-tableProductos");
            for (var i = 0; i < checkboxes.length; i++)
                if (checkboxes[i].checked) {
                    // create new row and cells
                    var newRow = tableInventario.insertRow(tableInventario.length),
                        cell1 = newRow.insertCell(0),
                        cell2 = newRow.insertCell(1),
                        cell3 = newRow.insertCell(2),
                        cell4 = newRow.insertCell(3);
                    cell5 = newRow.insertCell(4);
                    cell6 = newRow.insertCell(5);
                    cell7 = newRow.insertCell(6);
                    // add values to the cells
                    cell1.innerHTML = "<input type='checkbox' name='check-tableInventario'>";
                    cell2.innerHTML = tableProductos.rows[i + 1].cells[1].innerHTML + "<input type='text' name='idProducto[]' value='" + tableProductos.rows[i + 1].cells[1].innerHTML + "' style='display: none'>";
                    cell3.innerHTML = tableProductos.rows[i + 1].cells[2].innerHTML;
                    cell4.innerHTML = tableProductos.rows[i + 1].cells[3].innerHTML;
                    cell5.innerHTML = "<input type='text' onkeypress='onlyNumbers(event)' name='stockMinimo[]' class='form-control' required >";
                    cell6.innerHTML = "<input type='text' onkeypress='onlyNumbers(event)' name='stock[]' class='form-control' required>";
                    cell7.innerHTML = "<input type='text' name='estante[]' class='form-control' required>";

                    // remove the transfered rows from the first table [table1]
                    var index = tableProductos.rows[i + 1].rowIndex;
                    tableProductos.deleteRow(index);
                    // we have deleted some rows so the checkboxes.length have changed
                    // so we have to decrement the value of i
                    i--;
                }
        }

        function removeProduct() {
            var tableProductos = document.getElementById("tableProductos"),
                tableInventario = document.getElementById("tableInventario"),
                checkboxes = document.getElementsByName("check-tableInventario");
            for (var i = 0; i < checkboxes.length; i++)
                if (checkboxes[i].checked) {
                    // create new row and cells
                    var newRow = tableProductos.insertRow(tableProductos.length),
                        cell1 = newRow.insertCell(0),
                        cell2 = newRow.insertCell(1),
                        cell3 = newRow.insertCell(2),
                        cell4 = newRow.insertCell(3);
                    // add values to the cells
                    cell1.innerHTML = "<input type='checkbox' name='check-tableProductos'>";
                    cell2.innerHTML = tableInventario.rows[i + 1].cells[1].getElementsByTagName('input')[0].value;
                    cell3.innerHTML = tableInventario.rows[i + 1].cells[2].innerHTML;
                    cell4.innerHTML = tableInventario.rows[i + 1].cells[3].innerHTML;

                    // remove the transfered rows from the second table [table2]
                    var index = tableInventario.rows[i + 1].rowIndex;
                    tableInventario.deleteRow(index);
                    // we have deleted some rows so the checkboxes.length have changed
                    // so we have to decrement the value of i
                    i--;
                }
        }
        function validateForm() {
            var tableInventario = document.getElementById("tableInventario");
            if (tableInventario.rows.length < 2) {
                alert("Debe añadir al menos un producto al inventario");
                return false;
            }
            return confirm('¿Está seguro de realizar el  registro?');
        }
        function searchTable(idTable, idInput) {
            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById(idInput);
            filter = input.value.toUpperCase();
            table = document.getElementById(idTable);
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    let tdata = td[j];
                    if (tdata) {
                        if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }
        function onlyNumbers(evt) {
            var theEvent = evt || window.event;

            // Handle paste
            if (theEvent.type === 'paste') {
                key = event.clipboardData.getData('text/plain');
            } else {
                // Handle key press
                var key = theEvent.keyCode || theEvent.which;
                key = String.fromCharCode(key);
            }
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }

        function showTableData() {
            document.getElementById('info').innerHTML = "";
            var myTab = document.getElementById('tableInventario');
            for (i = 1; i < myTab.rows.length; i++) {
                var objCells = myTab.rows.item(i).cells;
                for (var j = 1; j < objCells.length; j++) {
                    if (j == 4 || j == 5 || j == 6) {
                        info.innerHTML = info.innerHTML + ' ' + objCells.item(j).getElementsByTagName('input')[0].value;
                    } else {
                        info.innerHTML = info.innerHTML + ' ' + objCells.item(j).innerHTML;
                    }
                }
                info.innerHTML = info.innerHTML + '<br />';
            }
        }
    </script>
}
