@model IEnumerable<Infraestructure.Models.InventarioProducto>

@{
    ViewBag.Title = "Reportes";
}

<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
    <div class="col-lg-3" style="background: #1d2554;">
        @Html.Partial("_MenuReporte")
    </div>
    <div class="col-xl-9">
        <div class="container">
            <hr>
            <h1>Estado Actual</h1>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="card card-reporte-estilo">
                        <div class="card-body card-reporte-estilo">
                            <h4 class="card-title">Productos Registrados<br></h4>
                            <p class="card-text" style="font-size: 77px;">@Model.Count()</p>
                            <h6 class="text-muted card-subtitle mb-2">Total en tienda</h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-reporte-estilo">
                        <div class="card-body card-reporte-estilo" style="font-size: 14px;">
                            <h4 class="card-title">Entradas &nbsp; Registradas</h4>
                            <p class="card-text" style="font-size: 77px;">
                                @ViewBag.registroEntradas
                            </p>
                            <h6 class="text-muted card-subtitle mb-2">Movimientos</h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-reporte-estilo">
                        <div class="card-body card-reporte-estilo">
                            <h4 class="card-title">Salidas &nbsp; Registradas</h4>
                            <p class="card-text" style="font-size: 77px;">
                                @ViewBag.registroSalidas
                            </p>
                            <h6 class="text-muted card-subtitle mb-2">Movimientos</h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card card-reporte-estilo">
                        <div class="card-body card-reporte-estilo">
                            <h4 class="card-title">Productos por reponer</h4>
                            <p class="card-text" style="font-size: 77px;">
                                @Model.Where(x=>x.StockMinimo==x.Stock).Count()
                            </p>
                            <h6 class="text-muted card-subtitle mb-2">Para Reposición</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>