
@{ ViewBag.Title = "Ventas"; }
<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
    <div class="col-lg-3" style="background: #1d2554;">
        @Html.Partial("_MenuReporte")
    </div>
    <div class="col-xl-9">
        <div class="container">
            <hr>
            <h1>Detalle <span class="badge bg-info">Producto (int[] ViewBag.Vendido1.IdProducto)</span> </h1> <hr>
            <div class="row">
                <div class="col-xl-3">
                    <div class="card shadow mb-4" style="height:400px;">
                        <div class="card-header py-3">
                            <h5 class="text-primary m-0 fw-bold">Información</h5>
                        </div>
                        <div class="card-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.IdProducto)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.IdProducto)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Nombre)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CostoU)
                                </dt>

                                <dd>
                                    ¢@Html.DisplayFor(model => model.CostoU)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.EstadoSistema)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.EstadoSistema.Descripcion)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CategoriaProducto)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CategoriaProducto.Descripcion)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
             
            </div>
            <hr>     
            <p>
                @Html.ActionLink("Regresar a lista", "Index", null, new { @class = "btn  boton-estilo" })
            </p>
        </div>
    </div>
</div>