@model IEnumerable<Infraestructure.Models.PedidoProducto>

@{ ViewBag.Title = "Mantenimiento Producto"; }
<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
    <div class="col-lg-3" style="background: #1d2554;">
        @Html.Partial("_MenuReporte")
    </div>
    <div class="col-xl-9">
        <div class="container">
            <hr>
            <h1>Productos más vendidos</h1>
            <hr>
            <div class="row">
                <div class="col-xl-3">
                    <div class="card shadow mb-4" style="height:470px;">
                        <div class="card-header py-3">
                            <h5 class="text-primary m-0 fw-bold">Primer producto</h5>
                        </div>

                        <div class="card-body">
                            <dl class="dl-horizontal">
                                @if (ViewBag.Vendido1 != null)
                                {
                                    <dt>
                                        @Html.DisplayName("ID")
                                    </dt>

                                    <d>
                                        @Html.DisplayName("" + ((Infraestructure.Models.Producto)ViewBag.Vendido1).IdProducto)
                                    </d>

                                    <dt>
                                        @Html.DisplayName("Nombre")
                                    </dt>

                                    <dd>
                                        @Html.DisplayName("" + ((Infraestructure.Models.Producto)ViewBag.Vendido1).Nombre)
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Costo")
                                    </dt>

                                    <dd>
                                        @Html.DisplayName("" + ((Infraestructure.Models.Producto)ViewBag.Vendido1).CostoU + "₡")
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Estado sistema")
                                    </dt>

                                    <dd>
                                        @Html.DisplayName("" + ((Infraestructure.Models.Producto)ViewBag.Vendido1).EstadoSistema.Descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Categoria producto")
                                    </dt>

                                    <dd>
                                        @Html.DisplayName("" + ((Infraestructure.Models.Producto)ViewBag.Vendido1).CategoriaProducto.Descripcion)
                                    </dd>
                                    <dt>
                                        @Html.DisplayName("Cantidad vendida")
                                    </dt>

                                    <dd>
                                        @Html.DisplayName("" + ((int)ViewBag.cantidad1))
                                    </dd>
                                    <dt>
                                        @Html.DisplayName("Ventas Hechas")
                                    </dt>

                                    <dd>
                                        @(Model.Where(x => x.IdProducto == ((Infraestructure.Models.Producto)ViewBag.Vendido1).IdProducto).Count())
                                    </dd>
                                }
                                else
                                {
                                    <dt>
                                        @Html.DisplayName("No hay producto")
                                    </dt>
                                }
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="card shadow mb-4" style="height:470px;">
                        <div class="card-header py-3">
                            <h5 class="text-primary m-0 fw-bold">Segundo producto</h5>
                        </div>
                        <div class="card-body">
                            <dl class="dl-horizontal">
                                @if (ViewBag.Vendido2 != null)
                                {
                                    <dt>
                                        @Html.DisplayName("ID")
                                    </dt>

                                    <d>
                                        @Html.DisplayName("" + ((Infraestructure.Models.Producto)ViewBag.Vendido2).IdProducto)
                                    </d>

                                    <dt>
                                        @Html.DisplayName("Nombre")
                                    </dt>

                                    <dd>
                                        @Html.DisplayName("" + ((Infraestructure.Models.Producto)ViewBag.Vendido2).Nombre)
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Costo")
                                    </dt>

                                    <dd>
                                        @Html.DisplayName("" + ((Infraestructure.Models.Producto)ViewBag.Vendido2).CostoU + "₡")
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Estado sistema")
                                    </dt>

                                    <dd>
                                        @Html.DisplayName("" + ((Infraestructure.Models.Producto)ViewBag.Vendido2).EstadoSistema.Descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Categoria producto")
                                    </dt>

                                    <dd>
                                        @Html.DisplayName("" + ((Infraestructure.Models.Producto)ViewBag.Vendido2).CategoriaProducto.Descripcion)
                                    </dd>
                                    <dt>
                                        @Html.DisplayName("Cantidad vendida")
                                    </dt>

                                    <dd>
                                        @Html.DisplayName("" + ((int)ViewBag.cantidad2))
                                    </dd>
                                    <dt>
                                        @Html.DisplayName("Ventas Hechas")
                                    </dt>

                                    <dd>
                                        @(Model.Where(x => x.IdProducto == ((Infraestructure.Models.Producto)ViewBag.Vendido2).IdProducto).Count())
                                    </dd>
                                }
                                else
                                {
                                    <dt>
                                        @Html.DisplayName("No hay producto")
                                    </dt>
                                }
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="card shadow mb-4" style="height:470px;">
                        <div class="card-header py-3">
                            <h5 class="text-primary m-0 fw-bold">Tercer Producto</h5>
                        </div>
                        <div class="card-body">
                            <dl class="dl-horizontal">
                                @if (ViewBag.Vendido3 != null)
                                {
                                    <dt>
                                        @Html.DisplayName("ID")
                                    </dt>

                                    <d>
                                        @Html.DisplayName("" + ((Infraestructure.Models.Producto)ViewBag.Vendido3).IdProducto)
                                    </d>

                                    <dt>
                                        @Html.DisplayName("Nombre")
                                    </dt>

                                    <dd>
                                        @Html.DisplayName("" + ((Infraestructure.Models.Producto)ViewBag.Vendido3).Nombre)
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Costo")
                                    </dt>

                                    <dd>
                                        @Html.DisplayName("" + ((Infraestructure.Models.Producto)ViewBag.Vendido3).CostoU + "₡")
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Estado sistema")
                                    </dt>

                                    <dd>
                                        @Html.DisplayName("" + ((Infraestructure.Models.Producto)ViewBag.Vendido3).EstadoSistema.Descripcion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayName("Categoria producto")
                                    </dt>

                                    <dd>
                                        @Html.DisplayName("" + ((Infraestructure.Models.Producto)ViewBag.Vendido3).CategoriaProducto.Descripcion)
                                    </dd>
                                    <dt>
                                        @Html.DisplayName("Cantidad vendida")
                                    </dt>

                                    <dd>
                                        @Html.DisplayName("" + ((int)ViewBag.cantidad3))
                                    </dd>
                                    <dt>
                                        @Html.DisplayName("Ventas Hechas")
                                    </dt>

                                    <dd>
                                        @(Model.Where(x => x.IdProducto == ((Infraestructure.Models.Producto)ViewBag.Vendido3).IdProducto).Count())
                                    </dd>
                                }
                                else
                                {
                                    <dt>
                                        @Html.DisplayName("No hay producto")
                                    </dt>
                                }
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
