@model Infraestructure.Models.Proveedor

@{ ViewBag.Title = "Mantenimiento Proveedor"; }

<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
    <div class="col-lg-3" style="background: #1d2554;">
        @Html.Partial("_MenuMantenimiento")
    </div>
    <div class="col-xl-9">
        <div class="container">
            <hr>
            <h1>Editar <span class="badge bg-info">Proveedor @Html.DisplayFor(model => model.IdProveedor)</span>| @Html.ActionLink("Detalle", "Details", new { id = Model.IdProveedor }, new { @class = "btn  boton-estilo" })| @Html.ActionLink("Desactivar", "Deactivate", new { id = Model.IdProveedor }, new { @class = "btn  boton-estilo" })</h1>
            <hr>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5 class="text-primary m-0 fw-bold">Proveedor</h5>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Save", "Proveedor", FormMethod.Post, new { enctype = "multipart/form-data", id = "myForm", onsubmit = "event.preventDefault(),sweetConfirm()" }))
                    {
        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.IdProveedor)
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label " })
                                        </div>
                                        <div class="row">
                                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label " })
                                        </div>
                                        <div class="row">
                                            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label " })
                                        </div>
                                        <div class="row">
                                            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="row">
                                            @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "control-label " })
                                        </div>
                                        <div class="row">
                                            @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                        <hr />
                                                        <div class="form-group">
                                                            <div class="col-md-offset-2 col-md-10">
                                                                <input type="submit" value="Editar Proveedor" class="btn boton-estilo"  />
                                                            </div>
                                                        </div>}
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5 class="text-primary m-0 fw-bold">Contacto | @Html.ActionLink("Añadir Contacto", "Contacto", new { idProveedor = Model.IdProveedor }, new { @class = "btn  boton-estilo" })</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayName("ID")
                            </th>
                            <th>
                                @Html.DisplayName("Nombre")
                            </th>
                            <th>
                                @Html.DisplayName("Teléfono")
                            </th>
                            <th>
                                @Html.DisplayName("Correo")
                            </th>
                            <th></th>
                        </tr>

                        @foreach (Infraestructure.Models.ContactoProveedor item in Model.ContactoProveedor.Where(x => x.IdEstadoSistema == 1))
                        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdContactoProveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <a href="tel:@Html.DisplayFor(modelItem => item.Telefono)">@Html.DisplayFor(modelItem => item.Telefono)</a>
                </td>
                <td>
                    <a href="mailto: @Html.DisplayFor(modelItem => item.Correo)">@Html.DisplayFor(modelItem => item.Correo)</a>
                </td>
                <td>
                    @using (Html.BeginForm("SaveContacto", "Proveedor", FormMethod.Post, new { enctype = "multipart/form-data",id="myForm2", onsubmit = "event.preventDefault(),sweetConfirm2()" }))
                    {
    @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            <input type="text" name="idContactoProveedor" value="@item.IdContactoProveedor" style="display: none" />
                            <input type="text" name="idProveedor" value="@item.IdProveedor" style="display: none" />
                            <input type="text" name="idEstadoSistema" value="0" style="display: none" />
                            <input type="submit" value="Desactivar" class="btn boton-estilo" />
                        </div>}
                </td>
            </tr>
}

                    </table>
                </div>
            </div>
            <div>
                @Html.ActionLink("Regresar a lista", "Index", null, new { @class = "btn  boton-estilo" })
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function sweetConfirm() {
            if ($("#myForm").valid()) {
                swal({
                    title: "¿Está seguro de editar este proveedor?",
                    buttons: {
                        cancel: "Cancelar",
                        confirm: {
                            text: "Aceptar",
                            className: "boton-estilo"
                        }
                    }
                }).then(val => {
                    if (val) {
                        document.forms['myForm'].submit();
                    }
                });
            }
        }
        function sweetConfirm2() {
            if ($("#myForm2").valid()) {
                swal({
                    title: "¿Está seguro de desactivar este contacto?",
                    buttons: {
                        cancel: "Cancelar",
                        confirm: {
                            text: "Aceptar",
                            className: "boton-estilo"
                        }
                    }
                }).then(val => {
                    if (val) {
                        document.forms['myForm'].submit();
                    }
                });
            }
        }
    </script>
}

