@model IEnumerable<Infraestructure.Models.Proveedor>

@{
    ViewBag.Title = "Mantenimiento Proveedor";
}
<div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
    <div class="col-lg-3" style="background: #1d2554;">
        @Html.Partial("_MenuMantenimiento")
    </div>
    <div class="col-xl-9">
        <div class="container">
            <hr>
            <h1>Lista de Proveedores</h1>
            <hr>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h5 class="text-primary m-0 fw-bold">Proveedores</h5>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col">

                            <a class="btn  boton-estilo" href="@Url.Action("Create", "Proveedor")">
                                Nuevo proveedor
                                <i class="fas fa-plus"></i>
                            </a>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IdProveedor)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Nombre)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Telefono)
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IdProveedor)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Telefono)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Editar", "Edit", new { id = item.IdProveedor }, new { @class = "btn  boton-estilo" }) |
                                                @Html.ActionLink("Detalle", "Details", new { id = item.IdProveedor }, new { @class = "btn  boton-estilo" }) |
                                                @Html.ActionLink("Desactivar", "Deactivate", new { id = item.IdProveedor }, new { @class = "btn  boton-estilo" })
                                            </td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>