@model Infraestructure.Models.Usuario
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="width: 40% !important; margin: 0px auto !important;">
    <div class="container" style="border-radius: 10px !important;  margin: 50px auto !important; display: block !important;">
        <div class="card shadow mb-4" style="border-radius: 20px !important;">
            <div style="text-align:center !important;">
                <img style="width: 311px !important; height: 274px !important; display: inline-block !important; margin: 30px !important;" src="~/Resources/Aurum-MK.png" class="d-block w-100 carousel-inicio-max-heigh" alt="Aurum MK Logo">
            </div>
            <p style="text-align: center !important;">Aquí puede completar su autoregistro.</p>
            <div class="card-body">

                @using (Html.BeginForm("Save", "Registro", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <hr />

                        <div class="row" style="margin-left: 15px !important; margin-right: 0px !important;">
                            <div class="col">
                                <div class="row">
                                    <label>Cédula de identidad</label>
                                </div>
                                <div class="row">
                                    @Html.EditorFor(model => model.IdUsuario, new { htmlAttributes = new { @class = "form-control", style = "-webkit-appearance: textfield !important" } })
                                    @Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "text-danger" })
                                </div>

                                <div class="row">
                                    <label>Nombre completo</label>
                                </div>
                                <div class="row">
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>

                                <div class="row">
                                    @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="row">
                                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                                </div>

                                <div class="row">
                                    @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="row">
                                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", style = "-webkit-appearance: textfield !important" } })
                                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                </div>

                                <div class="row">
                                    @Html.LabelFor(model => model.Contra, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="row">
                                    @Html.EditorFor(model => model.Contra, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                                    @Html.ValidationMessageFor(model => model.Contra, "", new { @class = "text-danger" })
                                </div>

                                <div class="row">
                                    <label>Confirme su contraseña</label>
                                </div>
                                <div class="row">
                                    <input id="corfirmacionContra" type="password" class="form-control" />
                                    @Html.ValidationMessageFor(model => model.Contra, "", new { @class = "text-danger" })
                                </div>

                                <div class="row">
                                    @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label " })
                                </div>
                                <div class="row">
                                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <hr />

                        <div class="row" style="text-align: center !important;">
                            <div class="col" style="justify-content: center !important;">
                                <input type="submit" value="Enviar registro" class="btn boton-estilo" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



