<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Aurum MK</title>
    @Styles.Render("~/Content/css")
</head>
<body class="body-estilo">
    <div class="container body-container-estilo">
        @Html.Partial("_Menu")
        <main>
            @RenderBody()
        </main>
        @Html.Partial("_Footer")
    </div>
    @Scripts.Render("~/bundles/myBundle")
    @RenderSection("scripts", required: false)
    @if (ViewBag.NotificationMessage != null)
    {
        <script>
            @Html.Raw(ViewBag.NotificationMessage);
        </script>
    }
</body>
</html>
