<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Aurum MK</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

</head>
<body class="body-estilo">
    <div class="container body-container-estilo">
        @Html.Partial("_Menu")
        <main>
            @RenderBody()
        </main>
        @Html.Partial("_Footer")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert")
    @RenderSection("scripts", required: false)
    @Scripts.Render("https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.js")
    @if (ViewBag.NotificationMessage != null)
    {
        <script>
            @Html.Raw(ViewBag.NotificationMessage);
        </script>
    }

    <script>
        $('#color-picker').spectrum({
            type: "component",
            togglePaletteOnly: true,
            showInput: true,
            showAlpha: false,
            showButtons: false
        });
    </script>


</body>
</html>
